@model DreamCakes.Repositories.Models.USUARIO

<!-- Modal de Registro -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">




            @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "form-horizontal", id = "registerForm" }))
            {
@Html.AntiForgeryToken()

                <div class="modal-header">
                    <h5 class="modal-title">Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> if (TempData["ErrorMessage"] != null)
                                {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div> }
                                if (TempData["SuccessMessage"] != null)
                                {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div> }
                <div class="modal-body">
                    <div id="generalError"></div>

                    <div class=".form-group-Reg floating-label">
                        @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " ", id = "Nombres" } })
                        @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "floating-text" })

                        <div id="nombresError" class="text-danger" style="display: none;"></div>
                    </div>

                    <div class=".form-group-Reg floating-label">
                        @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " ", id = "Apellidos" } })
                        @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "floating-text" })

                        <div id="apellidosError" class="text-danger" style="display: none;"></div>
                    </div>

                    <div class=".form-group-Reg floating-label">
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " ", id = "Telefono" } })
                        @Html.LabelFor(model => model.Telefono, "Teléfono", htmlAttributes: new { @class = "floating-text" })

                        <div id="telefonoError" class="text-danger" style="display: none;"></div>
                    </div>

                    <div class="form-group floating-label">
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " " } })
                        @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "floating-text" })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>

                    <div class=".form-group-Reg floating-label">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " ", id = "Email" } })
                        @Html.LabelFor(model => model.Email, "Correo", htmlAttributes: new { @class = "floating-text" })
                        <div id="emailError" class="text-danger" style="display: none;"></div>
                    </div>

                    <div class=".form-group-Reg floating-label">
                        @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control floating-input", placeholder = " ", type = "password", id = "Contrasena" } })
                        @Html.LabelFor(model => model.Contrasena, "Contraseña", htmlAttributes: new { @class = "floating-text" })

                        <div id="contrasenaError" class="text-danger" style="display: none;"></div>
                    </div>

                    <!-- LINK LOGIN -->
                    <div class="text-center">
                        ¿Ya tienes cuenta?
                        <a href="#" class="login-link" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">Iniciar Sesión</a>
                    </div>
                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn-wine">Registrarse</button>
                                </div>            }
        </div>
    </div>
</div>

<script src="~/Scripts/Register.js"></script>