@model DreamCakes.Dtos.Admin.PromotionDto

@{
    ViewBag.Title = "Detalles de Promoción";
}

<h2>Detalles de Promoción</h2>

<div>
    <dl class="dl-horizontal">
        <dt>Nombre:</dt>
        <dd>@Model.NameProm</dd>

        <dt>Descuento:</dt>
        <dd>@Model.DiscountPer %</dd>

        <dt>Fecha Inicio:</dt>
        <dd>@Model.StartDate.ToShortDateString()</dd>

        <dt>Fecha Fin:</dt>
        <dd>@Model.EndDate.ToShortDateString()</dd>

        <dt>Estado:</dt>
        <dd>@(Model.StateProm ? "Activa" : "Inactiva")</dd>

        <dt>Descripción: </dt>
        <dd>@Model.DescriProm</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
</p>
