@model IEnumerable<DreamCakes.Dtos.Admin.PromotionDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Promociones</h2>

<p>
    @Html.ActionLink("Nueva Promoción", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre de la promoción
        </th>
        <th>
            Porcentaje de descuento
        </th>
        <th>
            Fecha de inicio
        </th>
        <th>
            Fecha de fin
        </th>
        <th>
            Estado de la promoción
        </th>
        <th>
            Descripción de la promoción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameProm)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscountPer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndDate)
    </td>
    <td>
        @(item.StateProm ? "Activa" : "Inactiva")
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DescriProm)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID_Prom }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.ID_Prom }) |
        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Prom })
    </td>
</tr>
}

</table>
