@model DreamCakes.Dtos.Admin.AdminUserDto

@{
    ViewBag.Title = "Eliminar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Usuario</h2>

<h4>¿Estás seguro que deseas eliminar este usuario?</h4>
<div>
    <dl class="dl-horizontal">
        <dt>Nombres</dt>
        <dd>@Model.UserFirstName</dd>

        <dt>Apellidos</dt>
        <dd>@Model.UserLastName</dd>

        <dt>Email</dt>
        <dd>@Model.UserEmail</dd>

        <dt>Teléfono</dt>
        <dd>@Model.UserPhone</dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.UserID)

    <button type="submit" class="btn btn-danger">Eliminar</button>
    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
}
